@import "../../styles/variables.scss";

.hero-wrapper {
  position: relative;
  width: 100%;
  height: 1024px; // Adjust height as needed

  .hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    feature-added-hero-animation
    background-image: url("/backgrounds/Sthlm2.png");
    background-size: cover;

    z-index: -1; // Place the background behind the content
    transition: opacity 0.9s ease-out; // Smooth transition for fading effect
  
    // Multiple background layers: rgba overlay first, then background image
    background: 
      linear-gradient(rgba(54, 57, 90, 0.5), rgba(54, 57, 90, 0.5)), 
      url('/backgrounds/Sthlm2.png');
    background-size: cover; // Ensure both backgrounds cover the entire area

    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; // Place the background behind the content
    transition: opacity 0.5s ease-out; // Smooth transition for fading effect
  }

  .hero {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #fff;

    .hero-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      width: 100%;
      height: 100%;
      position: relative;
    }

    h1 {
      font-size: 2rem;
      margin: 0.5rem 0;
    }

    p {
      font-size: 1rem;
      margin: 0.5rem 0;
    }

    .hero-buttons {
      display: flex;
      gap: 1rem;
      margin-top: 1rem;
      border: 3px $hero-white;
    }

    .hero-button {
      background: transparent;
      color: $hero-white;
      padding: 1rem 1rem;
      font-size: 1.5rem;
      font-weight: 500;
      transition: 0.8s ease;

      &:hover {
        background: transparent;
        background-color: $nav-button-blur-hover;
        color: $main-navy-light-blue;
      }
    }
  }
}

.letter {
  display: inline-block;
}

.ml4 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: max-content;
  margin: 0 auto;
  opacity: 0;
}

.ml4 .letters-1,
.ml4 .letters-2 {
  opacity: 1;
}

.letters-2 {
  font-size: 50px;
}
