@import '../../styles/variables.scss';

.hero {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 90%;
  margin: 0;
  background-image: url('/backgrounds/Sthlm2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #fff; // Adjust text color as needed

  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 2rem; // Adjust font size as needed
    margin: 0.5rem 0;
  }

  p {
    font-size: 1rem; // Adjust font size as needed
    margin: 0.5rem 0;
  }

  .hero-buttons {
    display: flex;
    gap: 1rem; // Adjust spacing between buttons as needed
    margin-top: 1rem;
    border: 3px $hero-white;
  }

  .hero-button {
    background: transparent;
    color: $hero-white; // Text color
    padding: 1rem 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    transition: 0.8s ease;


    &:hover {
        background: transparent;
        background-color: $nav-button-blur-hover; // Darker background on hover
        color: $main-navy-light-blue;
    }
  }
}
