@import '../../styles/variables.scss';

.paragraph-card {
    background-color: $primary-white-bg; // Matching background color
    border-radius: 0.5rem; // Same border radius
    margin: auto; // Center it horizontally if container allows
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 3rem; // Same padding as EmployeeCard
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25); // Same box shadow
    text-align: center; // Center the text inside
    display: flex;
    justify-content: center; // Center content horizontally
    align-items: center; // Center content vertically
    box-sizing: border-box; // Ensure padding and borders are included in width
    color: $main-navy-dark-blue;
    // The width will be controlled by the inline style passed from props
}
