@import './variables.scss';

@font-face {
  font-family: 'Aldrich';
  src: url('/fonts/Aldrich-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Aldrich', sans-serif;
  text-decoration: none;
}

body {
  background: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  position: relative;
  display: flex;
  gap: 3rem;
  padding: 1rem 1rem;
  justify-content: center;
  margin: 0;
}
