// styles/globals.scss

@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $primary-white-bg; // Assuming this is defined in variables.scss
  display: flex; // Allows the body to be a flex container
  flex-direction: column; // Stacks children (like `main` and others) vertically
  min-height: 100vh; // Ensures the body takes up at least the full viewport height
}


main {
  flex: 1; // Allows `main` to grow and take up available space
  width: 100vw; // Full viewport width
  margin: 0 auto; // Centers the `main` element horizontally
}
