// styles/variables.scss

$primary-dark-bg: radial-gradient(circle, rgba(144, 144, 144, 1) 0%, rgba(122, 122, 122, 1) 50%, rgba(99, 99, 99, 1) 80%, rgba(73, 72, 72, 1) 100%);
$primary-dark-card: rgba(0, 0, 0, 0.7);
$primary-light-text: rgb(211, 211, 211);
$primary-light-icon: rgba(190, 189, 189, 0.733);
$primary-light-border: rgb(255, 255, 255);
