@import '../../styles/variables.scss';

.footer {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: $footer-dark-bg; // Adjust the background color as needed
  border-top: 1px solid #dee2e6; // Adjust the border color as needed
  color: $footer-grey;
  position: relative;

  .footer-left &.footer-right {
    display: flex;
    flex-direction: column;
}
.footer-left {
        flex: 1;
        padding: 1rem;
        margin-left: 5rem;
    padding-top: 4rem;

    }

  .footer-right {
    padding-top: 4rem;
    flex: 2;
    display: flex;
    justify-content: space-around;
    .footer-row {
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      li {
        margin-top: 1rem;
      }


      li:not(:first-child) {
        font-size: 1rem; // Adjust the font size as needed
      }
    }
  }

  .divider {
    position: absolute;
    top: 80%;
    left: 5%;
    width: 90%;
    height: 1px;
    background-color: #ccc; // Adjust the divider color as needed
  }
}
