// components/contactCard.scss
@import '../../styles/variables.scss';

.contact-card {
    background-color: $primary-white-bg;
    border-radius: 0.5rem;
    margin: auto;
    padding: 3rem;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 600px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.full-width-input,
.full-width-textarea {
    width: 100%;
    padding: 1rem;
    margin: 0.5rem 0;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.half-width-input {
    width: 48%;
    padding: 1rem;
    margin: 0.5rem 1% 0.5rem 0;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.input-row {
    display: flex;
    justify-content: space-between;
}

.full-width-textarea {
    min-height: 150px;
}

.submit-button {
    width: 50%;
    margin: 1.5rem auto 0 auto;
    padding: 1rem;
    font-size: 1rem;
    background-color: $main-navy-dark-blue;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: darken($main-navy-dark-blue, 10%);
    }
}
