@import '../../styles/variables.scss';

.alt-hero-wrapper {
  position: relative;
  width: 100%;
  height: 250px; // Adjust the height as needed
  overflow: hidden; // Ensure content doesn't overflow the wrapper

  .alt-hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; // Ensure the image stays behind the content
    
    .alt-hero-image {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .alt-hero-content {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%; // Ensures content is centered vertically
    color: #fff; // White text color for better contrast
    justify-content: flex-start;

    h1 {
      font-size: 3rem; // Adjust as needed
      display: flex;
      margin-left: 3rem;
      margin-top: 2rem;
    }
  }
}
